<html
  th:replace="~{layout/company :: renderBody('VietnamJobs - Postings', ~{this::.content-wrapper})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>VietnamJobs - Posting</title>
  </head>

  <body>
    <div class="content-wrapper">
      <!-- Breadcrumb -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Update recruitment information</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <a th:href="@{/admin/dashboard}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Recruitment Posts</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <form th:action="@{/employer/posting/edit}" method="post">
          <div class="form-group col-md-10">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="Your Jobs"
              th:field="${postingDTO.title}"
            />
          </div>

          <div class="form-row col-md-10">
            <div class="form-group col-md-4">
              <label>Deadline</label>
              <br /><th:block
                th:text="${#dates.format(postingDTO.dealine, 'dd/MM/yyyy') }"
              ></th:block>
            </div>
            <div class="form-group col-md-8">
              <label for="alternate">New Deadline</label>
              <input
                type="text"
                class="form-control"
                id="deadline"
                th:name="newDeadline"
                placeholder="NewDeadline"
              />
            </div>
          </div>

          <div class="form-row col-md-10">
            <div class="form-group col-md-4">
              <label for="inputCity">Quantity</label>
              <input
                type="number"
                class="form-control"
                id="inputCity"
                th:field="${postingDTO.quantity}"
              />
            </div>
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-6">
              <label for="inputGender">Gender</label>
              <input
                type="text"
                class="form-control"
                id="inputCity"
                th:field="${postingDTO.gender}"
              />
            </div>
          </div>

          <div class="form-row col-md-10">
            <div class="form-group col-md-12">
              <label for="inputWage">Wage</label>
              <select
                id="inputWage"
                class="form-control"
                th:field="${postingDTO.wageName}"
              >
                <option
                  th:each="wage : ${@wageService.findAll}"
                  th:value="${wage.name}"
                  th:text="${wage.name}"
                ></option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-10">
            <label>Category</label>
            <select
              id="inputCategory"
              class="form-control"
              th:field="${postingDTO.categoryName}"
            >
              <option
                th:each="category : ${@categoryService.getAll()}"
                th:value="${category.name}"
                th:text="${category.name}"
              ></option>
            </select>
          </div>
          <div class="form-group col-md-10">
            <label>Local</label>
            <select
              id="inputLocal"
              class="form-control"
              th:field="${postingDTO.localName}"
            >
              <option
                th:each="local : ${@localService.findAll()}"
                th:value="${local.name}"
                th:text="${local.name}"
              ></option>
            </select>
          </div>
          <div class="form-group col-md-10">
            <label>Rank</label>
            <select
              id="inputRank"
              class="form-control"
              th:field="${postingDTO.rankName}"
            >
              <option
                th:each="rank : ${@rankService.findAll()}"
                th:value="${rank.name}"
                th:text="${rank.name}"
              ></option>
            </select>
          </div>
          <div class="form-group col-md-10">
            <label>Type</label>
            <select
              id="inputType"
              class="form-control"
              th:field="${postingDTO.typeName}"
            >
              <option
                th:each="type : ${@typeService.findAll()}"
                th:value="${type.name}"
                th:text="${type.name}"
              ></option>
            </select>
          </div>
          <div class="form-row col-md-10">
            <div class="form-group">
              <label for="inputExp">Exp</label>
              <select
                id="inputExp"
                class="form-control"
                th:field="${postingDTO.expName}"
              >
                <option
                  th:each="exp : ${@experienceService.findAll}"
                  th:value="${exp.name}"
                  th:text="${exp.name}"
                ></option>
              </select>
            </div>
          </div>
          <div class="form-group col-md-10">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="5"
              th:field="${postingDTO.description}"
            ></textarea>
          </div>
          <input type="hidden" th:field="${postingDTO.id}" />
          <input type="hidden" th:field="${postingDTO.employerName}" />
          <input type="hidden" th:field="${postingDTO.employerLogo}" />
          <input type="hidden" th:field="${postingDTO.status}" />
          <div class="col-md-10">
            <div style="text-align: center">
              <button
                type="submit"
                class="codepro-custom-btn codepro-btn-7"
                target="blank"
                title="Code Pro"
              >
                <span>Update Now</span>
              </button>
            </div>
          </div>
        </form>
      </section>

      <footer class="main-footer">
        <strong
          >Copyright &copy; 2024-2025
          <a href="https://google.com">Google</a>.</strong
        >
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
          <b>Version</b> 1.1.0
        </div>
      </footer>

      <script>
        $(function () {
          $("#deadline").datepicker({
            dateFormat: "dd/mm/yy",
            altField: "#alternate",
            altFormat: "DD, d MM, yy",
          });
        });
        CKEDITOR.replace("exampleFormControlTextarea1");
      </script>
      <script th:if="${success != null}">
        $(document).ready(function () {
          var Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
            showCloseButton: true,
          });

          Toast.fire({
            icon: "success",
            title: "SUCCESS",
            text: "Process information successfully!",
          });
        });
      </script>
      <script th:if="${error != null}">
        $(document).ready(function () {
          var Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
            showCloseButton: true,
          });

          Toast.fire({
            icon: "error",
            title: "ERROR",
            text: "Something went wrong! Try later...",
          });
        });
      </script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </div>
  </body>
</html>
