<html
  th:replace="~{layout/company :: renderBody('VietnamJobs - Add Recruitment Posts', ~{this::.content-wrapper})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>VietnamJobs - Add Recruitment Posts</title>
  </head>

  <body>
    <div class="content-wrapper">
      <!-- Breadcrumb -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Add New</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <a th:href="@{/employer/dashboard}">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                  <a th:href="@{/employer/job}">Recruitment Posts</a>
                </li>
                <li class="breadcrumb-item active">Add New</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <form
                class="card"
                enctype="multipart/form-data"
                method="post"
                th:action="@{/employer/job/handleAdd}"
              >
                <div class="card-header">
                  <h4 class="modal-title">Recruitment Posts Details</h4>
                </div>
                <div class="card-body">
                  <div class="card-body">
                    <div class="form-group">
                      <label>Title</label>
                      <input
                        class="form-control"
                        placeholder="Enter title..."
                        th:field="${newJob.title}"
                        type="text"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label>Gender</label>
                      <input
                        class="form-control"
                        placeholder="EX: Male, Female"
                        th:field="${newJob.gender}"
                        type="text"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label>Quantity</label>
                      <input
                        class="form-control"
                        placeholder="Enter quantity..."
                        th:field="${newJob.quantity}"
                        type="number"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label>Deadline</label>
                      <div
                        class="input-group date"
                        id="reservationdate"
                        data-target-input="nearest"
                      >
                        <input
                          type="text"
                          class="form-control datetimepicker-input"
                          data-target="#reservationdate"
                          th:field="${newJob.deadline}"
                          required
                        />
                        <div
                          class="input-group-append"
                          data-target="#reservationdate"
                          data-toggle="datetimepicker"
                        >
                          <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Location</label>
                      <select
                        class="form-control select2"
                        style="width: 100%"
                        th:field="${newJob.local}"
                      >
                        <th:block th:each="item, index : ${localList}">
                          <option
                            th:selected="${index == 0}"
                            th:value="${item.id}"
                            th:text="${item.name}"
                          ></option>
                        </th:block>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Category</label>
                      <select
                        class="form-control select2"
                        style="width: 100%"
                        th:field="${newJob.category}"
                      >
                        <th:block th:each="item, index : ${categoryList}">
                          <option
                            th:selected="${index == 0}"
                            th:value="${item.id}"
                            th:text="${item.name}"
                          ></option>
                        </th:block>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Experience</label>
                      <select
                        class="form-control select2"
                        style="width: 100%"
                        th:field="${newJob.experience}"
                      >
                        <th:block th:each="item, index : ${experienceList}">
                          <option
                            th:selected="${index == 0}"
                            th:value="${item.id}"
                            th:text="${item.name}"
                          ></option>
                        </th:block>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Work Form</label>
                      <select
                        class="form-control select2"
                        style="width: 100%"
                        th:field="${newJob.type}"
                      >
                        <th:block th:each="item, index : ${typeList}">
                          <option
                            th:selected="${index == 0}"
                            th:value="${item.id}"
                            th:text="${item.name}"
                          ></option>
                        </th:block>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Rank</label>
                      <select
                        class="form-control select2"
                        style="width: 100%"
                        th:field="${newJob.rank}"
                      >
                        <th:block th:each="item, index : ${rankList}">
                          <option
                            th:selected="${index == 0}"
                            th:value="${item.id}"
                            th:text="${item.name}"
                          ></option>
                        </th:block>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Wage</label>
                      <select
                        class="form-control select2"
                        style="width: 100%"
                        th:field="${newJob.wage}"
                      >
                        <th:block th:each="item, index : ${wageList}">
                          <option
                            th:selected="${index == 0}"
                            th:value="${item.id}"
                            th:text="${item.name}"
                          ></option>
                        </th:block>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <textarea
                        class="form-control"
                        rows="5"
                        placeholder="Enter a description..."
                        th:field="${newJob.description}"
                        required
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="card-footer justify-content-between">
                  <button class="btn btn-success" type="submit">
                    Create new
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- Page specific script -->
      <script>
        $(function () {
          //Date picker
          $("#reservationdate").datetimepicker({
            format: "DD/MM/YYYY",
          });
        });
      </script>
      <script th:if="${success != null}">
        $(document).ready(function () {
          var Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
            showCloseButton: true,
          });

          Toast.fire({
            icon: "success",
            title: "SUCCESS",
            text: "Process information successfully!",
          });
        });
      </script>
      <script th:if="${error != null}">
        $(document).ready(function () {
          var Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
            showCloseButton: true,
          });

          Toast.fire({
            icon: "error",
            title: "ERROR",
            text: "Something went wrong! Try later...",
          });
        });
      </script>
    </div>
  </body>
</html>
