<html
  th:replace="~{layout/admin :: renderBody('VietnamJobs - Wage', ~{this::.content-wrapper})}"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>VietnamJobs - Wage</title>
  </head>

  <body>
    <div class="content-wrapper">
      <!-- Breadcrumb -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Wage List</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <a th:href="@{/admin}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Wage</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h3 class="card-title">List</h3>
                  <button
                    class="btn btn-success btn-sm d-flex align-items-center ml-auto"
                    data-target="#modalAdd"
                    data-toggle="modal"
                    type="button"
                  >
                    <i class="fas fa-plus mr-1"></i>
                    Add New
                  </button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table
                    class="table table-bordered table-striped"
                    id="experienceTable"
                  >
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Min</th>
                        <th>Max</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item : ${wageList}">
                        <td th:text="${item.id}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.min}"></td>
                        <td th:text="${item.max}"></td>
                        <td>
                          <p style="display: none" th:text="${item.status}"></p>
                          <th:block th:if="${item.status == true}">
                            <span class="badge badge-success">Active</span>
                          </th:block>
                          <th:block th:if="${item.status == false}">
                            <span class="badge badge-danger">Inactive</span>
                          </th:block>
                        </td>
                        <td class="d-flex align-items-center">
                          <a
                            class="btn btn-danger mr-2"
                            th:href="@{'/admin/wage/delete/' + ${item.id}}"
                            ><i class="fas fa-trash-alt"></i
                          ></a>
                          <button
                            class="btn btn-info btn-edit"
                            data-target="#modalUpdate"
                            data-toggle="modal"
                            type="button"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>

      <!--Modal Add-->
      <div class="modal fade" id="modalAdd">
        <div class="modal-dialog">
          <form
            class="modal-content"
            enctype="multipart/form-data"
            method="post"
            th:action="@{/admin/wage/handleAdd}"
          >
            <div class="modal-header">
              <h4 class="modal-title">Add New</h4>
              <button
                aria-label="Close"
                class="close"
                data-dismiss="modal"
                type="button"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group">
                  <label>Wage name</label>
                  <input
                    class="form-control mb-4"
                    placeholder="Enter wage name..."
                    th:field="${newItem.name}"
                    type="text"
                    required
                  />
                </div>
                <div class="form-group">
                  <label>Min</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      placeholder="Enter wage min..."
                      th:field="${newItem.min}"
                      type="number"
                      required
                      min="1"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">VND</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Max</label>
                  <div class="input-group">
                    <input class="form-control" placeholder=Enter wage max..."
                    th:field="${newItem.max}" type="number" required min="1" />
                    <div class="input-group-append">
                      <span class="input-group-text">VND</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer justify-content-between">
              <button
                class="btn btn-default"
                data-dismiss="modal"
                type="button"
              >
                Cancel
              </button>
              <button class="btn btn-success" type="submit">Create new</button>
            </div>
          </form>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!--Modal Update-->
      <div class="modal fade" id="modalUpdate">
        <div class="modal-dialog">
          <form
            class="modal-content"
            enctype="multipart/form-data"
            method="post"
            th:action="@{/admin/wage/handleUpdate}"
          >
            <div class="modal-header">
              <h4 class="modal-title">Update</h4>
              <button
                aria-label="Close"
                class="close"
                data-dismiss="modal"
                type="button"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card-body">
                <div class="form-group">
                  <label>Wage name</label>
                  <input
                    class="form-control"
                    id="updateName"
                    placeholder="Enter wage name..."
                    th:field="${updateItem.name}"
                    type="text"
                    required
                  />
                </div>
                <div class="form-group">
                  <label>Min</label>
                  <div class="input-group">
                    <input
                      class="form-control"
                      id="updateMin"
                      placeholder="Enter wage min..."
                      th:field="${updateItem.min}"
                      type="number"
                      required
                      min="1"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">VND</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Max</label>
                  <div class="input-group">
                    <input class="form-control" id="updateMax" placeholder=Enter
                    wage max..." th:field="${updateItem.max}" type="number"
                    required min="1" />
                    <div class="input-group-append">
                      <span class="input-group-text">VND</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="icheck-success d-inline">
                    <input
                      id="updateStatus"
                      th:field="${updateItem.status}"
                      type="checkbox"
                    />
                    <label for="updateStatus"> Status </label>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    class="form-control"
                    id="updateId"
                    th:field="${updateItem.id}"
                    type="hidden"
                  />
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <div class="modal-footer justify-content-between">
              <button
                class="btn btn-default"
                data-dismiss="modal"
                type="button"
              >
                Cancel
              </button>
              <button class="btn btn-success" type="submit">Save change</button>
            </div>
          </form>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <!-- Page specific script -->
      <script>
        $(function () {
          $("#experienceTable")
            .DataTable({
              responsive: true,
              lengthChange: false,
              autoWidth: false,
              buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
            })
            .buttons()
            .container()
            .appendTo("#experienceTable_wrapper .col-md-6:eq(0)");
        });
      </script>
      <script>
        $(document).ready(function () {
          $(".btn-edit").click(function () {
            var itemId = $(this).closest("tr").find("td:eq(0)").text().trim();
            var itemName = $(this).closest("tr").find("td:eq(1)").text().trim();
            var itemMin = $(this).closest("tr").find("td:eq(2)").text().trim();
            var itemMax = $(this).closest("tr").find("td:eq(3)").text().trim();
            var itemStatus = $(this)
              .closest("tr")
              .find("td:eq(4) > p")
              .text()
              .trim();

            $("#updateName").val(itemName);
            $("#updateId").val(itemId);
            $("#updateMin").val(itemMin);
            $("#updateMax").val(itemMax);
            if (itemStatus === "true") {
              $("#updateStatus").prop("checked", true);
            } else {
              $("#updateStatus").prop("checked", false);
            }

            $("#modalUpdate").modal("show");
          });
        });
      </script>
      <script th:if="${success != null}">
        $(document).ready(function () {
          var Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
            showCloseButton: true,
          });

          Toast.fire({
            icon: "success",
            title: "SUCCESS",
            text: "Process information successfully!",
          });
        });
      </script>
      <script th:if="${error != null}">
        $(document).ready(function () {
          var Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
            showCloseButton: true,
          });

          Toast.fire({
            icon: "error",
            title: "ERROR",
            text: "Something went wrong! Try later...",
          });
        });
      </script>
      <script th:if="${exist != null}">
        $(document).ready(function () {
          var Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
            showCloseButton: true,
          });

          Toast.fire({
            icon: "warning",
            title: "EXIST",
            text: "List already exists this data",
          });
        });
      </script>
      <script th:if="${notFound != null}">
        $(document).ready(function () {
          var Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
            showCloseButton: true,
          });

          Toast.fire({
            icon: "warning",
            title: "NOT FOUND",
            text: "List does not contain this data",
          });
        });
      </script>
      <script th:if="${existPost != null}">
        $(document).ready(function () {
          var Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            timer: 3000,
            timerProgressBar: true,
            showConfirmButton: false,
            showCloseButton: true,
          });

          Toast.fire({
            icon: "warning",
            title: "CONTAINS POSTS",
            text: "You can update the Status to Inactive",
          });
        });
      </script>
    </div>
  </body>
</html>
