<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index</title>
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<h2>Notification</h2>
	<button id="click">Click</button>
	<table id="postingTable" border="1">
		<thead>
			<tr>
			<td>Seeker ID</td>
			<td>EmployerID</td>
			<td>Employer Name</td>
			<td>Posting ID</td>
			<td>Posting Name</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="follow : ${follows}">
				<td th:text="${follow.seekerID}"></td>
				<td th:text="${follow.employerID}"></td>
				<td th:text="${follow.employerName}"></td>
				<td th:text="${follow.postingID}"></td>
				<td th:text="${follow.postingTitle}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<div style="border: 2px solid red; width: 600px;">
		Employer <span id="employerName"></span> has recruit a job with title <span id="postingTitle"></span>
	</div>
	<input type="hidden" th:value="${seekerID}" id="seekerID">
	<script>
			var seekerID = $('#seekerID').val();
			console.log(seekerID);
		function notification(){
			$(document).ready(function(){
			
			
				$.ajax({
				type: 'GET',
				url: '/ajaxUser/notification',
				data: {
					seekerID: seekerID
					},
				success: function(postings){
					var s = '';
					for(var i = 0; i < postings.length; i++){
						s+= '<tr>';
						s+= '<td>' + postings[i].seekerID + '</td>';
						s+= '<td>' + postings[i].employerID + '</td>';
						s+= '<td>' + postings[i].employerName + '</td>';
						s+= '<td>' + postings[i].postingID + '</td>';
						s+= '<td>' + postings[i].postingTitle + '</td>';
						s+= '</tr>';
					}
					$('#postingTable tbody').html(s);
				}
			});
		
		});
		}
			setInterval(notification, 3000);
	</script>
	
</body>
</html>