<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
	<link rel="stylesheet" th:href="@{/assets/login/style.css}" />
	<!-- Fontawesome CDN Link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="/resources/demos/style.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

	<script>
		$(function () {
			$("#datepicker").datepicker({dateFormat: "dd-mm-yy"});
		});
	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />


</head>

<body>
	<div class="container">

		<span th:text="${msg}" style="color: red"></span>
		<input type="checkbox" id="flip" />
		<div class="cover">
			<div class="front">
				<img th:src="@{/assets/login/Images/bannerApartment.jpg}" alt="" />
				<div class="text">
									<span class="text-1">Complete miles of journey <br />
										with one step</span>
									<span class="text-2">Let's get started</span>
								</div>
			</div>
			<div class="back">
				<img class="backImg" src="@{/assets/login/Images/apartment.jpg" alt="" />
				<div class="text">
					<span class="text-1">Complete miles of journey <br />
						with one step</span>
					<span class="text-2">Let's get started</span>
				</div>
			</div>
		</div>
		<div class="forms">
			<div class="form-content">
				<div class="signup-form">
					<div class="title">Register</div>
					<form th:action="@{/account/register}" method="post">
						<div class="input-boxes">
							<div class="input-box">
								<i class="fas fa-user-edit"></i>
								<input type="radio" value="ROLE_SEEKER" th:field="${accountDTO.typeAccount}">Seeker<br>
								<input type="radio" value="ROLE_EMPLOYER" th:field="${accountDTO.typeAccount}">Employer<br>
							</div>
							<div class="input-box">
								<i class="fas fa-user"></i>
								<input type="text" id="name" th:field="${accountDTO.username}"
									placeholder="Username" />
							</div>
							<span id="errorName"></span>
							<div class="input-box">
								<i class="fas fa-envelope"></i>
								<input type="email" id="email" th:field="${accountDTO.email}"
									placeholder="Email" />
							</div>
							<span id="errorEmail"></span>
							<div class="input-box">
								<i class="fas fa-lock"></i>
								<input type="password" id="newPassword" name="password" placeholder="Password" />
								<span class="toggle-newPassword" onclick="showPasswordRegister()">
									<i class="far fa-eye"></i>
								</span>
							</div>
							<span id="errorNewPass"></span>
							<div class="input-box">
								<i class="fas fa-lock"></i>
								<input type="password" id="confirmPassword" name="confirmpassword"
									placeholder="Confirm Password" />
								<span class="toggle-confirmPassword" onclick="showConfirmPasswordRegister()">
									<i class="far fa-eye"></i>
								</span>
							</div>
							<span id="errorConfirmPass"></span>
							<div class="button input-box">
								<input type="submit" value="Register" onclick="return checkSignIn();"
									id="submitRegister" />
							</div>
							<div class="text sign-up-text">
								<a th:href="@{/account/login}">Login Now!</a>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Trigger/Open The Modal -->

	<!-- The Modal -->
	<div id="modal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<h2>Warning</h2>
			<p id="empty"></p>
		</div>
	</div>

	</div>
	<script th:src="@{/assets/login/login.js}"></script>
</body>

</html>